[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
werkzeug = "*"
sqlalchemy = "*"
click = "*"
"psycopg2" = "*"
gunicorn = "*"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-Cors = "*"
smartcar = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
